<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Owners and their Pets.  Pets and their Owners.</h1>

<div th:each="owner : ${owners}">

    <div th:each="pet : ${owner.petSet}">
        <ul>
            <li th:inline="text">Owner: [[${owner.name}]] is the [[${owner.position}]]</li>
            <li th:inline="text">Pet: [[${pet.name}]] is a [[${pet.type}]]</li>
        </ul>
    </div>

</div>


</body>
</html>